clusterDomain: {{ .Values.global.clusterDomain }}

keycloak:
  replicas: 1
  username: keycloak
  password: keycloak
  basepath: auth
  persistence:
    dbVendor: postgres
    dbName: keycloak
    dbHost: postgres-postgresql
    dbUser: keycloak
    dbPassword: keycloak
  ingress:
    enabled: true
    path: /
    hosts:
      - sso.{{ .Values.global.ingressDomain }}
